body
{
	font-family:verdana, sans-serif, hevettica;
}

#mainView
{
	padding:25px;
}

h1,h2,h3,h4
{
		font-family: tahoma, sans-serif;
		white-space: nowrap;
}

h1
{
	font-size: 40px;
	padding-bottom:10px;
	text-align: center;
	padding: 15px;
	
	
}

h2
{
	font-size: 1.2em;
	text-align: center;
}

h3
{
	padding-top: 1em;
	padding-bottom:10px;
}

li
{
	display: inline;
	padding-left:10px;
	opacity:0.5;
	cursor: pointer;
	transition:width 2s;
	-webkit-transition:width 2s; /* Safari */
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
}
li:hover
{
	opacity:1.0;
}

nav
{ 
	border-bottom:1px solid black;
}


li a
{
	text-decoration: none;
	color: black;
}
p
{
	text-align: left;
	margin-top: 2em;
}

footer
{
	
	text-align:center;
	height:50px;
	border-top:1px solid black;
	padding:0.5em;
	
}

#overhead
{
	background-color: #d8c192;
	border-style: groove;
 
}

.pictures
{
	text-align:center;
	padding: 20px;
}
