body
{
	background: #ffffff;
	font-family:verdana,tahoma,sans-serif;
	font-size:.8em;
	padding:25px;
	
}
#overhead
{
	/*background-color: #d8c192;*/
	background-color: #B0C4DE;
	border-style: groove;
 
}

h1
{
	font-size: 40px;
	text-align: center;
}

h2
{
	height:50px;
	font-size: 1.2em;
	text-align: center;
}

#description
{
	padding-top:25px;
	border-bottom:1px solid black;
}

.tooltip
{
	text-align:center;
}

#legend
{
	width:600px;
	height:150px;
	margin-left:auto;
 	margin-right:auto;
	/*padding:25px;
	/*border-width:1px;
	/*border-style:solid;
	/*border-color:rgb(100,100,100);
	/*box-shadow: 3px 3px 6px rgba(0,0,0,0.5);*/
	
}

.leftColumn
{
	width: 250px;
	float: left;
}

.rightColumn
{
	width: 250px;
	margin-left: 25px;
	margin-right: 25px;
	float: left;
}

 #canvasContainer
 {
	/*padding-top:25px;*/
 	width:1000px;
 	height:650px;
 	margin-left:auto;
 	margin-right:auto;
 }

#canvas,#controls
{
	background: #ffffff;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
	border-width:1px;
	border-style:solid;
	border-color:rgb(100,100,100);
}
 	
#controls
{
	text-align:center;
	padding:5px;
	width:100%;
	margin-bottom:5px;
	border-width:1px;
	border-color:rgb(100,100,100);
	border-style:solid;
	padding-top:15px;
	padding-bottom:15px;
}